body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a1f2f2e2;
}

nav {
    background-color: #1be3f9;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav ul li a:hover {
    background-color: #495057;
    border-radius: 5px;
}

main {
    padding: 2em;
    text-align: center;
}

h1 {
    color: #343a40;
}

form {
    margin-top: 1em;
}

input[type="file"] {
    margin-bottom: 1em;
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

